<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090545170790-t2g06c4kqon5qjgeagaisrcmmlatb8pd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090545170790-t2g06c4kqon5qjgeagaisrcmmlatb8pd</string>
	<key>API_KEY</key>
	<string>AIzaSyAzPF4A5Tlv78q-UhgLeAkZjos_LO8sEEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1090545170790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kira.reactnativebase.staging</string>
	<key>PROJECT_ID</key>
	<string>reactnativebase-84dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativebase-84dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090545170790:ios:0ac923f346b019e0ca70a7</string>
</dict>
</plist>